<% if @collection.errors.any? %>
    
    <p><%= @collection.errors.count %>つのエラーがあります</p>
    
    <ul>
    <% @collection.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  
<% end %>