<% if @collection.errors.any? %>
  <div class="alert alert-danger"> 
    
    <p><%= @collection.errors.count %>つのエラー</p>
    
    <ul>
    <% @collection.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>