<h1>Editing web collection</h1>

<%= render "form", web_collection: @web_collection %>

<br>

<div>
  <%= link_to "Show this web collection", @web_collection %> |
  <%= link_to "Back to web collections", web_collections_path %>
</div>
