<h1>WebCollections#index</h1>
<div class="container">
  <div class="row text-center">
    <% @collections.each do |collection| %>
      <div class="col-6 col-sm-4">
        <%= link_to image_tag(collection.image.url, width: "100%"), collection.url if collection.image? %>
        <%= link_to collection.title, web_collection_path(collection) %>
      </div>
    <% end %>
  </div>
</div>