<p style="color: green"><%= notice %></p>

<h1>Web collections</h1>

<div id="web_collections">
  <% @web_collections.each do |web_collection| %>
    <%= render web_collection %>
    <p>
      <%= link_to "Show this web collection", web_collection %>
    </p>
  <% end %>
</div>

<%= link_to "New web collection", new_web_collection_path %>
