<% provide(:title, @collection.title) %>
<h1>WebCollections#show</h1>
<%= @collection.title %>,
<%= @collection.url %>
<%= link_to image_tag(@collection.image, width: "50%"), @collection.url if @collection.image? %>
