<% provide(:title, @collection.title) %>
<h1>WebCollections#show</h1>
<%= @collection.title %>,
<%= @collection.url %>
<%= link_to image_tag(@collection.image.url, width: "50%"), @collection.url if @collection.image? %>
<% if current_user&.admin? %>
  <%= button_to "", web_collection_path(@collection), method: :delete, 
                                                  data: { turbo_confirm: '本当に削除しますか?'}, class: "fas fa-trash" %>
<% end %>
